/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Paleta de colores */
:root {
  --white: #fefffe;
	--brown: #3C1518;
	--yellow: #EDAE49;
	--green: #4D9078;
	--pink: #FF7477;
	--grey: "grey";
  /*
	--timberwolf: #CCC5b9;
  --black-olive: #403d39;
  --eerie-black: #252422;
  --celestial-blue: #008dd5;
	*/

	/* Distancias */
	
	--distance-xx-large: 8rem;
	--distance-x-large: 4rem;
	--distance-large: 2rem;
	--distance-medium: 1rem;
	--distance-small: 0.5rem;
	--distance-x-small:0.25rem;

	/* Radios */
	--distance-border-large: 8px;
	--distance-border: 4px;
}

html {
  color: var(--eerie-black);
  font-family: 'Inter', sans-serif;
	font-weight: 700;

	font-size: 20px;
	line-height: 1;
 
}

body {
  background: var(--yellow);
	min-height: 100vh;
	color: var(--brown);
  margin: 0;
  padding: 0;
}

.icon {
	fill: var(--brown);
}

.NavBar {
  background-color: var(--yellow);
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100vh - 2 * var(--distance-medium));

  border-right: var(--distance-border-large) solid var(--brown);
    
  display: flex;
  flex-direction: column;
  padding: var(--distance-medium);
  gap: var(--distance-small);
    
  width: calc(40px + 2*var(--distance-medium));
    
  overflow: hidden;
  transition: 1s all;
}
    
.NavBar .item {
  border-radius: var(--border-radius-small);
  display: flex;
  padding: var(--distance-medium);
}

.NavBar .item:hover {
	background-color: var(--timberwolf);
}

.NavBar .item .name {
  width: 0px;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
}
        
.icon {
  width: 40px;
  height: 40px;
}

.NavBar:hover {
  width: 40vw;
}
    
.NavBar:hover .item .name {
  padding-left: var(--distance-small);
  overflow: visible;
	transition: 1s;
}

.App {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  margin-left: calc(40px + 4*var(--distance-medium) + var(--distance-border-large));
}

.App .appContainer {
	padding-top: var(--distance-small);
	max-width: 1000px;
	height: 100% - var(--distance-medium);
	margin-left: auto;
	margin-right: auto;
}

.Modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  background: var(--white);
  border-radius: 18px;
  box-shadow: 0px 0px 30px rgba(27,27,27,0.1);
  padding: var(--distance-medium);
  text-align: center;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3 {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
  font-weight: 400;
}

h1 {
	font-size: var(--distance-xx-large);
	letter-spacing: -3px;
}

h2 {
	font-size: var(--distance-x-large);
	letter-spacing: -2px;
	margin-bottom: var(--distance-large);
}

h3 {
	text-transform: capitalize;
	font-weight:700;
	font-family: 'Inter', sans-serif;
	font-size: var(--distance-large);
	letter-spacing: -1px;
}

.center {
	text-align: center;
}

.tag {
	padding: var(--distance-small);
	border-radius: var(--distance-medium);
}

.tag.green {
	background-color: var(--green);
}

.tag.yellow {
	background-color: var(--yellow);
}

.tag.pink {
	background-color: var(--pink);
}

input,
select,
button {
	background-color: var(--white);
	padding: var(--distance-small);
	background-color: var(--yellow);
	border: var(--distance-border) solid var(--brown);
	border-radius: var(--distance-small);
	font-size: var(--distance-medium);
}

input:focus,
select:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  transition: background 0.2s;
}

button:hover {
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.experimentDiagram {
	display: flex;
  justify-content: space-between;
	align-items: center;
}

.card, .form {
	border-radius: var(--distance-medium);
	border: var(--distance-border) solid var(--brown);
	padding: var(--distance-medium);
	display: flex;
	flex-direction: column;
	gap: var(--distance-medium);
}

.wrapper {
	display: flex;
	flex-direction: column;

	gap: var(--distance-small);
}

.experimentDiagram .container {
	display: flex;
}

.experimentDiagram .container button {
	margin-left: auto;
}

.experimentDiagram .text {
	padding: var(--distance-small);
}

.form {
	margin-top: 100px;
}

.streak,
.days-left {
  font-weight: 600;
  color: var(--celestial-blue);
}

.questions {
  width: 100%;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.question label {
  font-weight: 600;
  color: var(--black-olive);
}

.submit {
  width: 100%;
  background: var(--celestial-blue);
  color: var(--white);
  font-weight: 600;
}

@media (max-width: 1000px) {
	.NavBar {
		width: calc(100vw - 2*var(--distance-x-small));
    border-top: 2px solid var(--timberwolf);
        
    border-right: unset;
		flex-direction: row;
    height: unset;
    left: 0;
    top: unset;
    bottom: 0;
 
    padding: var(--distance-x-small);
    
    gap: 0px;
    justify-content: space-evenly;
	}

  .NavBar:hover {
    width: calc(100vw - 2 * var(--distance-x-small));
  }

  .NavBar .item {
    padding: var(--distance-xx-small);
	}
  
	.NavBar:hover {
    background-color: unset;
  }

  .NavBar .item .icon {
    width: 30px;
    height: 30px;
  }
        
  .NavBar:hover .item .name {
    padding-left: 0px;
            
    overflow: hidden;
    transition: 1s;
  }

	.App {
		margin-left: 0;
	}

	.App .appContainer {
		margin-left: 0;
		margin-right: 0;
	}
}
